@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Main styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #edecff;
}

header {
    background: white;
    padding: 20px;
}

header h1 {
    color: #25272E;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
    background-color: #e7e5ff;
}

.badge {
    font-size: 14px;
    padding: 2px 10px;
    color: white;
}

#user-label {
    background: #f97ba9;
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    background: #B4B4B4;
    position: absolute;
    top: 30px;
    right: -30px;
}

/* Result Text */
.result {
    font-size: 40px;
}

.result p {
    text-align: center;
    font-weight: bold;
}

/* Rock, paper, scissors buttons */
.choices {
    margin: 50px 0;
    text-align: center;
    padding-right: 40px;
}

.choice p {
    color: black;
}

.choice img {
    width: 30%;
}

.choice {
    border: 4px solid white;
    border-radius: 40%;
    padding: 10px;
    margin: 0px 20px;
    display: inline-block;
    transition: all 0.3s ease;
}

#r {
    width: 220px;
    padding: 15px 0;
}

.choice:hover {
    cursor: pointer;
    background: #e7e5ff;
}

/* Make your move message */
#action-message {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*Change and comp choice to reflect their scoreboard colors*/
.colored-text-user {
    color: #f97ba9;
    text-shadow: -1px -1px 0 #6a6969,
        /* Top-left */
        1px -1px 0 #6a6969,
        /* Top-right */
        -1px 1px 0 #6a6969,
        /* Bottom-left */
        1px 1px 0 #6a6969;
    /* Bottom-right */
    ;
}

.colored-text-comp {
    color: #B4B4B4;
    text-shadow: -1px -1px 0 #6a6969,
        /* Top-left */
        1px -1px 0 #6a6969,
        /* Top-right */
        -1px 1px 0 #6a6969,
        /* Bottom-left */
        1px 1px 0 #6a6969;
    /* Bottom-right */
    ;
}

/* Color around the buttons depending on whether a user wins, loses or draws */
.green-glow {
    border: 4px solid #00FF00;
    box-shadow: 0 0 10px #007500;
}

.red-glow {
    border: 4px solid #FF0000;
    box-shadow: 0 0 10px #750000;
}

.grey-glow {
    border: 4px solid #808080;
    box-shadow: 0 0 10px #3B3B3B;
}